{{outlet}}
<div id="register-form" style="width:80%">
    <h3 class="log-title">Login</h3>
    <div class="form-group">
      {{input type="text"  class="form-control" id="email" placeholder="Email" required="" value=email }}
        <div class="help-block with-errors"></div>
    </div>

    <div class="form-group">
      {{input type="text"  class="form-control" id="passowrd" placeholder="passord" required="" value=password }}
        <div class="help-block with-errors"></div>
    </div>
    <!-- log-line -->
    <div class="log-line reg-form-1 no-margin">
        <div class="pull-right">
            <button type="submit" id="reg-submit" class="btn btn-md btn-success-filled btn-log" {{action "signIn"}}>Register</button>
            <div id="msgSubmit" class="h3 text-center hidden"></div>
            <div class="clearfix"></div>
        </div>
    </div><!-- / log-line -->
</div>
